In [1]:
import numpy as np
import pandas as pd

In [2]:
cities_path = 'restaurant_cities.csv'
establishments_path = 'restaurant_establishments.csv'
businesses_path = 'yelp_academic_dataset_business.json'
reviews_path = 'yelp_review.csv'

In [3]:
cities = pd.read_csv(cities_path, sep=';', index_col = 0)
cities.head()

               city_name  Unnamed: 2
city_id
1           Blue Diamond         NaN
2           Boulder City         NaN
3            Cal-Nev-Ari         NaN
4        Cottonwood Cove         NaN
5               Glendale         NaN

In [4]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 1 to 26
Data columns (total 2 columns):
city_name     26 non-null object
Unnamed: 2    0 non-null float64
dtypes: float64(1), object(1)
memory usage: 624.0+ bytes

In [88]:
establishments = pd.read_csv(establishments_path, sep=';', index_col=0)
establishments.rename(columns={'restaurant_name':'name'}, inplace=True)
establishments.head()

,facility_id,owner_id,PE,name,location_name,address,latitude,longitude,city_id,city_name,...,nciaa,plan_review,record_status,current_grade,current_demerits,date_current,previous_grade,date_previous,search_text,Unnamed: 21
permit_number,,,,,,,,,,,,,,,,,,,,,
PR0000002,FA0002677,NaN,1006,McDonald's #3549 D HOTEL,McDonalds (Store #3549) @ D HOTEL,301 Fremont St,36.169390,-115.143084,10,Las Vegas,...,Y,NaN,1,A,6.0,2020-03-13 00:00:00,A,2020-03-13 00:00:00,McDonald's #3549 D HOTEL McDonalds 3549 D HOTEL,NaN
PR0000003,FA0002678,NaN,1008,MCDONALD'S #19724,McDonalds Corporation,4400 E Charleston Blvd,36.159439,-115.079751,10,Las Vegas,...,Y,NaN,1,A,3.0,2020-02-06 00:00:00,A,2020-02-06 00:00:00,MCDONALD'S #19724 MCDONALDS 19724,NaN
PR0000004,FA0002679,NaN,1007,McDonald's #6965,McDonalds #6965,3175 N Rancho Dr,36.216746,-115.212421,10,Las Vegas,...,Y,NaN,1,A,0.0,2020-02-10 00:00:00,A,2020-02-10 00:00:00,McDonald's #6965 McDonalds 6965,NaN
PR0000005,FA0002680,NaN,1007,MCDONALD'S #2922,McDonalds (Store #2922),2020 N Rainbow Blvd,36.196385,-115.240740,10,Las Vegas,...,Y,NaN,1,A,0.0,2020-05-26 00:00:00,A,2020-05-26 00:00:00,MCDONALD'S #2922 MCDONALDS 2922,NaN
PR0000006,FA0002681,NaN,1006,MCDONALD'S #3153 @ PLAZA,McDonalds (Store #3153) @ PLAZA,1 S Main St,36.172176,-115.146829,10,Las Vegas,...,Y,NaN,1,A,0.0,2020-03-10 00:00:00,A,2020-03-10 00:00:00,MCDONALD'S #3153 @ PLAZA MCDONALDS 3153 PLAZA,NaN

In [6]:
establishments.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26498 entries, PR0000002 to PRVEMFZ9R
Data columns (total 21 columns):
facility_id         26498 non-null object
owner_id            0 non-null float64
PE                  26498 non-null int64
restaurant_name     26496 non-null object
location_name       26498 non-null object
address             26479 non-null object
latitude            26497 non-null float64
longitude           26497 non-null float64
city_id             26498 non-null int64
city_name           26498 non-null object
zip_code            26483 non-null object
nciaa               17873 non-null object
plan_review         0 non-null float64
record_status       26498 non-null int64
current_grade       24448 non-null object
current_demerits    24488 non-null float64
date_current        24448 non-null object
previous_grade      24360 non-null object
date_previous       24360 non-null object
search_text         26498 non-null object
Unnamed: 21         0 non-null float64
dtypes: float64(6), int64(3), object(12)
memory usage: 4.4+ MB

In [7]:
businesses = pd.read_json(businesses_path, lines=True)
businesses.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,2818 E Camino Acequia Drive,{'GoodForKids': 'False'},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,"10110 Johnston Rd, Ste 15","{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC
3,"15655 W Roosevelt St, Ste 237",None,xvX2CttrVhyG2z1dFg_0xw,"Insurance, Financial Services",Goodyear,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,85338,3,5.0,AZ
4,"4209 Stuart Andrew Blvd, Ste F","{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...",HhyxOkGAM07SRYtlQ4wMFQ,"Plumbing, Shopping, Local Services, Home Servi...",Charlotte,"{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...",1,35.190012,-80.887223,Queen City Plumbing,28217,4,4.0,NC

In [77]:
#Create new df that contains key data for merge with inspection data later
business_tomerge = businesses[['business_id', 'name', 'address', 'city']]
business_tomerge.head()

,business_id,name,address,city
0,1SWheh84yJXfytovILXOAQ,Arizona Biltmore Golf Club,2818 E Camino Acequia Drive,Phoenix
1,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga
2,gnKjwL_1w79qoiV3IC_xQQ,Musashi Japanese Restaurant,"10110 Johnston Rd, Ste 15",Charlotte
3,xvX2CttrVhyG2z1dFg_0xw,Farmers Insurance - Paul Lorenz,"15655 W Roosevelt St, Ste 237",Goodyear
4,HhyxOkGAM07SRYtlQ4wMFQ,Queen City Plumbing,"4209 Stuart Andrew Blvd, Ste F",Charlotte

In [8]:
businesses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192609 entries, 0 to 192608
Data columns (total 14 columns):
address         192609 non-null object
attributes      163773 non-null object
business_id     192609 non-null object
categories      192127 non-null object
city            192609 non-null object
hours           147779 non-null object
is_open         192609 non-null int64
latitude        192609 non-null float64
longitude       192609 non-null float64
name            192609 non-null object
postal_code     192609 non-null object
review_count    192609 non-null int64
stars           192609 non-null float64
state           192609 non-null object
dtypes: float64(3), int64(2), object(9)
memory usage: 20.6+ MB

In [10]:
reviews = pd.read_csv(reviews_path)
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5261668 entries, 0 to 5261667
Data columns (total 9 columns):
review_id      object
user_id        object
business_id    object
stars          int64
date           object
text           object
useful         int64
funny          int64
cool           int64
dtypes: int64(4), object(5)
memory usage: 361.3+ MB

In [79]:
#Create new df that contains only review id, business id and text to merge with inspection data
reviews_tomerge = reviews[['review_id', 'business_id', 'text']]
reviews_tomerge.head()

,review_id,business_id,text
0,vkVSCC7xljjrAI4UGfnKEQ,AEx2SYEUJmTxVVB18LlCwA,Super simple place but amazing nonetheless. It...
1,n6QzIUObkYshz4dz2QRJTw,VR6GpWIda3SfvPC-lg9H3w,Small unassuming place that changes their menu...
2,MV3CcKScW05u5LVfF6ok0g,CKC0-MOWMqoeWf6s-szl8g,Lester's is located in a beautiful neighborhoo...
3,IXvOzsEMYtiJI0CARmj77Q,ACFtxLv8pGrrxMm6EgjreA,Love coming here. Yes the place always needs t...
4,L_9BTb55X0GDtThi6GlZ6w,s2I_Ni76bjJNK9yG60iD-Q,Had their chocolate almond croissant and it wa...

In [11]:
reviews.business_id.value_counts()

4JNXUYY8wbaaDmk3BPzlWw    7362
RESDUcs7fIiihp38-d6_6g    7006
K7lWdNUhCbcnEvI0NhGewg    5951
cYwJA2A6I12KNkm2rtXd5g    5448
DkYS3arLOhA8si5uUEmHOw    4870
f4x1YBxkLrZg652xt2KR5g    4774
2weQS-RnoOBhb1KsHKyoSQ    4018
KskYqH1Bi7Z_61pH6Om8pg    3965
eoHdUeQDNgQ6WYEnP2aiRw    3911
ujHiaprwCQ5ewziu0Vi9rw    3836
SMPbvZLSMMb7KU76YNYMGg    3794
5LNZ67Yw9RD6nf4_UhXOjw    3772
iCQpiavjjPzJ5_3gPD5Ebg    3741
AV6weBrZFFBfRGCbcRGO4g    3623
rcaPajgKOJC2vo_l3xa42A    3571
El4FC8jcawUVgw_0EIcbaQ    3445
FaHADZARwnY4yvlvpnsfGA    3287
hihud--QRriCYZw1zZvW4g    3264
Wxxvi3LZbHNIDwJ-ZimtnA    3103
7sPNbCx7vGAaH7SbNPZ6oA    3064
g8OnV26ywJlZpezdBnOWUQ    3051
XZbuPXdyA0ZtTu3AzqtQhg    3011
u_vPjx925UPEG9DFOAAvFQ    2942
OETh78qcgDltvHULowwhJg    2933
MpmFFw0GE_2iRFPdsRpJbA    2884
na4Th5DrNauOv-c43QQFvA    2781
P7pxQFqr7yBKMMI2J51udw    2771
XXW_OFaYQkkGOGniujZFHg    2700
eAc9Vd6loOgRQolMXQt6FA    2688
BLIJ-p5wYuAhw6Pp6mh6mw    2682
                          ...
6WfesHZWlPY5c6RCadYGsg       2
scCd8IX3cc5IqVVB7piWfA       2
VL0JMErbrfZcTPdQlxx-Xg       2
DQHZj7l9btz8zJnyn5aZxg       2
T-HlBH03FwloijQfPO0gJA       2
uPOCtXFMpkCjllwAscQBDg       2
x4VjM8B94eQkW_hFFwwEqQ       2
wJPMhsfcqG9olVntkNYVjQ       2
UXJKNmBuo2_0egYuN8KxJg       2
POcKs2JOkWdq0mm_vtIehw       2
o-Q5juXVMmR60irxW0hZGA       2
VU4t7btzXRhPStxljUWBoA       2
CBAKNheAE2VKwRlXViDqWA       2
8ChKfIgrn7DpCiIy3o3L1Q       2
ST-IVOkIRq-DAyTD0e9DKw       2
Gdbx1UW2Qr53yOanW0O5og       2
8NoduEmQkNRVNY-RwuMy3Q       2
cPDWvaxauKlokoV7MEVHxQ       2
eMlRICB4vFotYzHVgeNjWw       2
Vzax98BCkEM1uYibYCzqPQ       2
_-z4lbtDXyY66QrC4bXEHA       2
M9BhWjQhnPk_6HuzPEnacw       2
rouBie6bO7skJnlASAxG6w       2
AXJSwbB1Qfeo8NK2n5AO3Q       2
roxnZ0kodKkj5iR72UlQSw       2
rSOiPODhWCo9N_ne0R-Btg       2
9FYiJfDv7yonO7jjTHt0MA       2
mNe3JV7BwrtALmzjYJ3Agg       1
GXMHepGKq110ceePNE5zDg       1
qj4KHXGgwyutHpvWRLI87g       1
Name: business_id, Length: 174567, dtype: int64

In [12]:
review_locs = pd.DataFrame()
business_locs = pd.DataFrame()
review_locs['business_id'] = reviews['business_id']
business_locs['business_id'] = businesses['business_id']
business_locs['city'] = businesses['city']

In [14]:
business_locs.business_id.value_counts()

AcFmtQtWdV8NJuAORmBYiQ    1
VnvRZia9M18-IUarfdnYfA    1
-uN0oID-wAg1Y5yFPABUtA    1
ODWgd31ztCy6s-hGJrGjNQ    1
iQ7tfyfw6lNMre4EIbXpSg    1
azsyGov8GFJswGxcqIn71g    1
DqjiembUzm6pVe-ZDv1Vug    1
xgLa8IcmCcHabbi4t-cBfQ    1
gvmdWqpfxIlx2x5K9HiboA    1
_LtsxQ-_32iA8VL5GtLd8Q    1
cEfdnFYM6iTs_TNbAb80Fw    1
lPflTT3i1rLsLKBp4ax7_g    1
_quVlmD-dxLi3y3k8t1izg    1
ymO3RTzw2XAGPqpaoZJkVg    1
S_o2Sizjs7xfsEaDfyFm8g    1
ZZC6Y7e3aKaIuzOorMH3-A    1
8kKTZ0TzLpuPbk8eNGBEGA    1
EBrdbQKyptZJcZTt7m-phg    1
wd4JyLv3-gEdRk-R1u8xkw    1
UVaRGEMPViXT4ENxXg2EJA    1
nxXIBbN1yqSQLSD6Dv-D_w    1
b51wwUg4gnAHoxCpiukmZg    1
ZuNJelvkJD4wsXNBRg6t5w    1
KDB_wMKgNcrXcqXMBVtgIQ    1
_F4qxboOpRaOOMWsmXU8QA    1
ukI96-dnWOaY-M6seSNbIA    1
G9x1ncAg1xHsxq-l8aIr1A    1
gUQXksFGvShjSl7Xil41bQ    1
MAxm3XjWfrtAOfWqjZ3CUg    1
8cdiFhBfCwRW1xiktRtV_g    1
                         ..
YQFcxE9UXrKc-QuTUu7twQ    1
Uz9hLHE3rJT7qy3kjgpRMQ    1
7QB2abgGTm_vXB_PQDh5hw    1
sarwxzBKjtEfeIUsESl71Q    1
5nik5Mb5Vn0XmmD9zjIjRQ    1
3TGxq2LGP0Ma5NDLDFVlVQ    1
FfpTKpb982zn1INH3BnQIg    1
XKVWYoKaIR1CEoxMYMFPXw    1
dFpz1YGcsWwFpQvYwh6l4A    1
FBGpbJduCw00FIiZJ4UnRA    1
jCf63wTFIR_-8MBovQE0gA    1
WecbAwefCiAdxosejfQ75A    1
_M5ngf01IBY-v5LhluT-9w    1
FApXR-nbUcpo6Vf52jg0lw    1
uq_WmeZ0QQiw69NudbRVmA    1
l1SGwoX-qkd17XUNkrvskQ    1
f3-lR7xIIvQqabn-fG85XA    1
Eh3ahXIfM5IA6WCdv-ZTvg    1
Yik4HREOEN20V2unUCYCgA    1
CYfOjcIoEas0ALCKN6_i8A    1
vbEuUTOXoRmqAu5pye4VqA    1
Ak0CIEdbLUREl44sjZhr-g    1
4C3aY8y0E4Jm1CW8R2Y4AQ    1
iyeanZgAkpCSL4eHoqdhnw    1
QSerbCSs6cs3rhF_caPz0Q    1
1l7gJx3BVWBZ8Wx1vPCkeA    1
QemTyuZdtyf0u1NeNHPK7A    1
IGs9SsR-ZjhszZuArhttLQ    1
7uHDOUQl6sjum1QSolpBrA    1
ABEJxmNbcZPBKBuY9Pv6Cw    1
Name: business_id, Length: 192609, dtype: int64

In [15]:
merged = pd.merge(review_locs, business_locs, on='business_id')

In [16]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5111255 entries, 0 to 5111254
Data columns (total 2 columns):
business_id    object
city           object
dtypes: object(2)
memory usage: 117.0+ MB

In [70]:
merged.city.value_counts()

Las Vegas                                             1593922
Phoenix                                                572446
Toronto                                                427890
Scottsdale                                             305957
Charlotte                                              234888
Pittsburgh                                             178387
Henderson                                              164827
Tempe                                                  160649
Mesa                                                   126192
MontrÃƒÂ©al                                              123393
Chandler                                               119805
Gilbert                                                 96248
Cleveland                                               91099
Madison                                                 86052
Glendale                                                75502
Mississauga                                             42810
Peoria                                                  42073
Markham                                                 38415
North Las Vegas                                         37791
Champaign                                               26128
Surprise                                                25608
Goodyear                                                21329
Richmond Hill                                           18254
North York                                              16577
Avondale                                                16400
Scarborough                                             14817
Lakewood                                                14603
Concord                                                 13263
Vaughan                                                 11907
Huntersville                                            11575
                                                       ...
Ste-DorothÃƒÂ©e                                               3
Kettleby                                                    3
Saint-Basile-Le-Grand                                       3
Bois-des-Filion                                             3
Laval, Pont Viau                                            3
Montreal-Quest                                              3
Laval, Ste Dorothee                                         3
Yorkdale                                                    3
Mont St-hilaire                                             3
Phoniex                                                     3
Rainbow Valley                                              3
McKnight                                                    3
Bond Head                                                   3
Queensville                                                 3
Las Vegas Nevada                                            3
Saint-Roch-de-l'Achigan                                     3
St. Jean Sur Richelieu                                      3
Lacolle                                                     3
Sharon                                                      3
Thomasboro                                                  3
Vaudreuil                                                   3
Le Haut-Saint-Laurent Regional County Municipality          3
Maple Grove                                                 3
Wilkens Township                                            3
Harmar Township                                             3
Lavaltrie                                                   3
Sturgeon                                                    3
Sainte-GeneviÃƒÂ¨ve                                           3
Vaughn                                                      3
Paw Creek                                                   3
Name: city, Length: 968, dtype: int64

In [26]:
dropped_df = pd.merge(review_locs, business_locs,on='business_id', indicator=True, how='outer')

In [27]:
dropped_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5294787 entries, 0 to 5294786
Data columns (total 3 columns):
business_id    object
city           object
_merge         category
dtypes: category(1), object(2)
memory usage: 126.2+ MB

In [45]:
dropped_df1 = dropped_df[dropped_df['_merge'] != 'both']
print(dropped_df[dropped_df['_merge'] != 'both'])

                    business_id                city      _merge
23145    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23146    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23147    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23148    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23149    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23150    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23151    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23152    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23153    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23154    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23155    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23156    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23157    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23158    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23159    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23160    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23161    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23162    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23163    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23164    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23165    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23166    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23167    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23168    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23169    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23170    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23171    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23172    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23173    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
23174    wjW6YN9s-iDq7l9PcUsPZw                 NaN   left_only
...                         ...                 ...         ...
5294757  LW7nOIqe_-SaNp3i7eVEIQ     North Las Vegas  right_only
5294758  DApkhmKqjb9M-RgYRp5O-g           Las Vegas  right_only
5294759  o3VynMazOXY_F7H-eKYJNw              Export  right_only
5294760  _M0ghTCysBgZnsHFnxsUMw             Toronto  right_only
5294761  KR7iTw9_aPpa3NUO3UkbAw              Lorain  right_only
5294762  q0dJc8hotCDoq3wzZ67Gug             Calgary  right_only
5294763  6Mrrb869fgDH7l5n4sDV8A           Charlotte  right_only
5294764  1Cz0gXFWdvtahHWlGe4lVQ           Charlotte  right_only
5294765  q5woVLFkUDOCHI0RZk9z3g            Glendale  right_only
5294766  VcLDJACmIEBHMME3b2gnMg           Las Vegas  right_only
5294767  lt18GcVIQ-445j6il_5ToA             Calgary  right_only
5294768  3L4VPQXH3ni8IsuJLnd74g           Las Vegas  right_only
5294769  mBcB2OafD_vovPZLPbTE6g             Buckeye  right_only
5294770  XcIqzonSqV9UcGEWFydu_A           MontrÃƒÂ©al  right_only
5294771  NRTER9T_aYV_0WDMdjQ5WA             Calgary  right_only
5294772  PDkIp47T1OOPnIkFqLVy4Q             Toronto  right_only
5294773  XMRultPt5xHJJXQzgceZzg  Middleburg Heights  right_only
5294774  lZ8T7NFAo1JGAAopTV_OTQ             Calgary  right_only
5294775  SRx3Y9vHxdHQM5ROyJOlPA             Calgary  right_only
5294776  PPI2Hz3_dsY3Tb8HQ3RSZw             Calgary  right_only
5294777  U4CITzklLWfzpz2bg7iLQA             Calgary  right_only
5294778  N7v9YxruJO2PfoSwtlHYWg             Calgary  right_only
5294779  6h5tl2qQSP-V0dulEFngLg           Las Vegas  right_only
5294780  A_cXJwttUUxZby4UKEwBqw             Phoenix  right_only
5294781  7wZgquJ30qkVQbvbJo92ow             Madison  right_only
5294782  zEw3Gms9qUHpatEIv4391g             Calgary  right_only
5294783  I5aBfKQVRg0fOOrl62doYA                Mesa  right_only
5294784  XlRGtOjPuiEfZsKuo2fRdw           Las Vegas  right_only
5294785  6tOKoZX1Gj3Uzjc1-JzYNQ           Las Vegas  right_only
5294786  vY2nLU5K20Pee-FdG0br1g           Newmarket  right_only

[183532 rows x 3 columns]

In [49]:
dropped_df1[dropped_df1['city'].isnull()]

                    business_id city     _merge
23145    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23146    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23147    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23148    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23149    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23150    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23151    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23152    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23153    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23154    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23155    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23156    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23157    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23158    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23159    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23160    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23161    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23162    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23163    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23164    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23165    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23166    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23167    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23168    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23169    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23170    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23171    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23172    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23173    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
23174    wjW6YN9s-iDq7l9PcUsPZw  NaN  left_only
...                         ...  ...        ...
5261571  N132xJtBa_tZHKAVNPnEvA  NaN  left_only
5261572  N132xJtBa_tZHKAVNPnEvA  NaN  left_only
5261576  dvR-ImHgrDBCbKiOeDtBmg  NaN  left_only
5261577  dvR-ImHgrDBCbKiOeDtBmg  NaN  left_only
5261578  dvR-ImHgrDBCbKiOeDtBmg  NaN  left_only
5261591  S8Wp6CALbFZb8G-if3-76g  NaN  left_only
5261592  S8Wp6CALbFZb8G-if3-76g  NaN  left_only
5261593  S8Wp6CALbFZb8G-if3-76g  NaN  left_only
5261600  JrcVckZSErX-OKKalg7RHA  NaN  left_only
5261601  JrcVckZSErX-OKKalg7RHA  NaN  left_only
5261602  JrcVckZSErX-OKKalg7RHA  NaN  left_only
5261606  U-UnzdmX4WN0AwuSsQm2Ag  NaN  left_only
5261607  U-UnzdmX4WN0AwuSsQm2Ag  NaN  left_only
5261608  U-UnzdmX4WN0AwuSsQm2Ag  NaN  left_only
5261609  gyprJHSESxpvEsxffKjYzA  NaN  left_only
5261610  gyprJHSESxpvEsxffKjYzA  NaN  left_only
5261611  gyprJHSESxpvEsxffKjYzA  NaN  left_only
5261631  0Ss3mpFMmCqRRT9OOKauVw  NaN  left_only
5261632  0Ss3mpFMmCqRRT9OOKauVw  NaN  left_only
5261633  0Ss3mpFMmCqRRT9OOKauVw  NaN  left_only
5261649  LBE0i8YtfvSgFyLZDPbxnw  NaN  left_only
5261650  LBE0i8YtfvSgFyLZDPbxnw  NaN  left_only
5261651  LBE0i8YtfvSgFyLZDPbxnw  NaN  left_only
5261652  GXMHepGKq110ceePNE5zDg  NaN  left_only
5261656  YH3-gUC_UgVFv7n4agr-lQ  NaN  left_only
5261657  YH3-gUC_UgVFv7n4agr-lQ  NaN  left_only
5261658  YH3-gUC_UgVFv7n4agr-lQ  NaN  left_only
5261665  UPJM8thQlVAb1OASCCRfLA  NaN  left_only
5261666  UPJM8thQlVAb1OASCCRfLA  NaN  left_only
5261667  UPJM8thQlVAb1OASCCRfLA  NaN  left_only

[150413 rows x 3 columns]

In [58]:
left_only_df = dropped_df1[dropped_df1['_merge']=='left_only']

In [59]:
right_only_df = dropped_df1[dropped_df1['_merge']=='right_only']

In [82]:
#Merge of the two '_tomerge' sets
Yelp_tomerge = pd.merge(reviews_tomerge, business_tomerge, on='business_id')
Yelp_tomerge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5111255 entries, 0 to 5111254
Data columns (total 6 columns):
review_id      object
business_id    object
text           object
name           object
address        object
city           object
dtypes: object(6)
memory usage: 273.0+ MB

In [98]:
#Merge Yelp_tomerge with establishments
df = establishments.merge(Yelp_tomerge, how='inner', left_on=['name', 'address', 'city_name'], right_on=['name', 'address', 'city'])
df.drop_duplicates(inplace=True)
df.info()
#df.dropna(how='all')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27287 entries, 0 to 27286
Data columns (total 25 columns):
facility_id         27287 non-null object
owner_id            0 non-null float64
PE                  27287 non-null int64
name                27287 non-null object
location_name       27287 non-null object
address             27287 non-null object
latitude            27287 non-null float64
longitude           27287 non-null float64
city_id             27287 non-null int64
city_name           27287 non-null object
zip_code            27287 non-null object
nciaa               27158 non-null object
plan_review         0 non-null float64
record_status       27287 non-null int64
current_grade       27173 non-null object
current_demerits    27173 non-null float64
date_current        27173 non-null object
previous_grade      27173 non-null object
date_previous       27173 non-null object
search_text         27287 non-null object
Unnamed: 21         0 non-null float64
review_id           27287 non-null object
business_id         27287 non-null object
text                27287 non-null object
city                27287 non-null object
dtypes: float64(6), int64(3), object(16)
memory usage: 5.4+ MB

In [92]:
df.dropna(how='all')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27287 entries, 0 to 27286
Data columns (total 25 columns):
review_id           27287 non-null object
business_id         27287 non-null object
text                27287 non-null object
name                27287 non-null object
address             27287 non-null object
city                27287 non-null object
facility_id         27287 non-null object
owner_id            0 non-null float64
PE                  27287 non-null int64
location_name       27287 non-null object
latitude            27287 non-null float64
longitude           27287 non-null float64
city_id             27287 non-null int64
city_name           27287 non-null object
zip_code            27287 non-null object
nciaa               27158 non-null object
plan_review         0 non-null float64
record_status       27287 non-null int64
current_grade       27173 non-null object
current_demerits    27173 non-null float64
date_current        27173 non-null object
previous_grade      27173 non-null object
date_previous       27173 non-null object
search_text         27287 non-null object
Unnamed: 21         0 non-null float64
dtypes: float64(6), int64(3), object(16)
memory usage: 5.4+ MB

In [106]:
import csv
df.to_csv('export_test', index=False)